language: python

python:
  - "2.7"

services:
  - mysql

before_install:
  - mysql -e
  'CREATE SCHEMA IF NOT EXISTS `user_authentication` DEFAULT CHARACTER SET utf8;
   USE `user_authentication`;

   CREATE TABLE IF NOT EXISTS users(
       id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
       username VARCHAR(30) NOT NULL,
       password_hash VARCHAR(256) NOT NULL,
       session_token VARCHAR(128)
   );'


install: "pip install -r requirements.txt"

script: sh run_travis.sh
