language: python

python:
  - "2.7"

services:
  - mysql

before_install:
  - mysql -e "CREATE DATABASE IF NOT EXISTS User_Authentication;"
  - mysql -u "travis" "User_Authentication" < "setup/user_authentication_schema.sql"

install:
  - "pip install -r requirements.txt"

script:
  - sh run_travis.sh
